.hide {
    display: none;
}
.active {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgTitle {
    margin-top: 2rem;
    text-align: center;
} img {
    width: 20vw;
}
.input{
    width: 30vw;
}
.section {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
}
.cardContainer {
    display: flex;
    flex-direction: column;
}
.img {
    width: 15vw;
    height: auto;
}
.characterParagraph {
    font-size: 1rem;
}
.selectContainer {
    text-align: center;
}